.main
  .main-header
    .main-header__left-box
      %h2.main-header__left-box__current-group
        （グループ名変更必要）
      %ul.main-header__left-box__member-list
        Member：
        %li.main-header__left-box__member-list__member
        （変更必要）
      .main-header__edit-btn
        = link_to edit_group_path(@group.id) do
          Edit
  .posts
    = render @posts

  .form
    = form_for [@group, @post] do |f|
      = f.text_field :content, class: 'form__post', placeholder: 'type a post'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          %i.fa.fa-image
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'
