.form
  = form_for [@group, @post] do |f|
    = f.text_field :content, class: 'form__post', placeholder: 'type a post'
    .form__mask
      = f.label :image, class: 'form__mask__image' do
        = icon('fas', 'image', class: 'icon')
        = f.file_field :image, class: 'hidden'
    = f.submit 'Send', class: 'form__submit'